body{
    margin: 0;
    padding: 0;
    /*background-color: rgb(10, 10, 10) !important;*/
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

.only-small{
    display: none !important;
}




.top-nav-bar{
    position: fixed;
    border-color: green;
    margin: 0;
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: right;
    /*background-color: rebeccapurple;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.top-bar-button{
    margin-left: 1vw;
    height: 5vh;
    width: 5%;
    backg.round-color: rgb(78, 78, 78);
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-page{
    background: rgb(32, 32, 32) !important;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(7,0,47);
    background: linear-gradient(0deg, rgba(7,0,47,1) 0%, rgba(0,0,0,1) 100%);
}

.main-title-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 73, 73);
    width: 60vw;
    height: 20vw;
}

.title-text-container{
    display: flex;
    align-items: center;
    width: 90%;
    height: 60%;
    background-color: rgb(97, 97, 97);
}

.title-text{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 3vw;
    line-height: 9vh;
}

.sub-title-container{
    display: flex;
    align-items: center;
    width: 90%;
    height: 30%;
    background-color: rgb(150, 150, 150);
}

.sub-title-text{
    color: white;
    font: 0.9em "Fira Sans", sans-serif;
    font-weight: 100 !important;
}



.second-text-container{
    display: flex;
    align-items: center;
    /*background-color: green;*/
    margin-left: 20vw;
    height: 20vh;
    width: 70vw;
}

.second-display-text{
    display: flex;
    align-items:baseline;
    margin-top: -1vh;
    margin-left: -8vw;
    width: 40vw;
    height: 12vh;
    /*background-color: crimson;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 1vw;
}




.test-box{
    height: 100vh;
    width: 100vw;
    background: rgb(255, 85, 246);
    background: linear-gradient(0deg, rgba(70,0,66,1) 0%, rgba(7,0,47,1) 100%);
    background: rgb(26, 26, 26) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.second-page-title{
    width: 90vw;
    height: 20%;
    background-color: rgb(71, 71, 71);
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-around;
}

.second-page-title h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10vh;
    margin-top: -4vh;
}

.second-page-title h3{
    width: 70%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -10vh;
}

.second-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 60%;
    background-color: rgb(80, 145, 145);
    margin-bottom: 1vh;
    
}

.box-content{
    display: flex;
    flex-shrink: 0;
    width: 20vw;
    height: 25vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
    background-color: rgb(46, 46, 46);
    align-items: center;
    justify-content: center;
    
}

.content-container{
    width: 90%;
    height: 90%;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-icon{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: coral;
    filter: invert(1);
}

.box-content-title{
    display: flex;
    width: 90%;
    height: 20%;
    background-color: blueviolet;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.box-content-p{
    display: flex;
    width: 100%;
    height: 30%;
    background-color: rgb(118, 47, 184);
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}

.box-content:hover{
    background-color: rgb(22, 22, 22);
}

.third-page{
    height: 100vh;
    width: 100vw;
    background: rgb(3,0,33);
    background: linear-gradient(0deg, rgba(3,0,33,1) 0%, rgba(70,0,66,1) 100%);   
}

@media screen and (max-width: 500px) {
    .only-small{
        display: flex !important;
        position: fixed;
        color: rgb(138, 138, 138) !important;
        font-size: larger;
    }

    .top-nav-bar{
        width: 100vw;
        /background-color: blue;
        justify-content: right;
        align-items: center;
        height: 8vh;
    }

    .top-bar-button{
        margin-right: 5vw;
        color: rgb(165, 165, 165);
    }

    .HomeDisplay{
        margin-right: 85vw;
    }

    .no-show{
        display: none;
        background-color: brown !important;
    }

    canvas{
        display: none !important; 
        position: fixed !important;
    }

    .main-title-text-container{
        width: 80%;
        height: 18%;
    }

    .title-text{
        /margin-bottom: -3vh;
        font-size: 2vh;
        line-height: 4vh;
    }

    .sub-title-container{
        align-items: center;
        align-items: flex-start;
        height: 30%;
    }

    .sub-title-text{
        /margin-top: -1vh;
        font: 1vh "Fira Sans", sans-serif;
    }
}

canvas{
    display: flex;
    width: 100vw;
    height: 100vh;
    /*background-color: palegreen;*/
    
    margin-left: 48vw;
    position: absolute;
  }