body{
    margin: 0;
    padding: 0;
    /*background-color: rgb(10, 10, 10) !important;*/
    overflow-x: hidden;
    font-family: 'Inter';
}

body::-webkit-scrollbar{
    display: none;
}

.only-small{
    display: none !important;
}

.top-nav-bar{
    position: fixed;
    border-color: green;
    margin: 0;
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.top-bar-button{
    margin-left: 1vw;
    height: 5vh;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-page{
    background: rgb(14, 14, 14) !important;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*bbackground-color: rgb(73, 73, 73);*/
    width: 60vw;
    height: 40vh;
}

.title-text-container{
    display: flex;
    align-items: center;
    width: 90%;
    height: 60%;
    /*bbackground-color: rgb(97, 97, 97);*/
}

.title-text{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 3vw;
    line-height: 9vh;
}

.sub-title-container{
    display: flex;
    align-items: center;
    width: 90%;
    height: 20%;
    /*bbackground-color: rgb(150, 150, 150);*/
}

.sub-title-text{
    color: white;
    font: 1.2em "Inter";
    font-weight: normal;
}

.cta-container{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30%;
    /*bbackground-color: rgb(255, 153, 209);*/
    align-items: center;
}

.cta-container p{
    margin-left: 2%;
    color: white;
}

.cta-container a{
    margin-left: 2%;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.hireme-button button{
    background-color: rgb(6, 114, 255);
    color: white;
    font-family: 'Inter';
    border: none;
    font-size: 1.2vw;
    font-weight: bold;
    padding: 1vw 2vw;
}


.second-text-container{
    display: flex;
    align-items: center;
    /*background-color: green;*/
    margin-left: 20vw;
    height: 20vh;
    width: 70vw;
}

.second-display-text{
    display: flex;
    align-items:baseline;
    margin-top: -1vh;
    margin-left: -8vw;
    width: 40vw;
    height: 12vh;
    /*background-color: crimson;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 1vw;
}




.second-page{
    height: 100vh;
    width: 100vw;
    background: rgb(26, 26, 26) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.second-page-title{
    width: 90vw;
    height: 20%;
    background-color: rgb(71, 71, 71);
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-around;
}

.second-page-title-container{
    display: flex;
    width: 100%;
    height: 65%;
    background-color: rgb(226, 110, 43);
    align-items: center;
}

.second-page-title h2{
    color: white;
    font-size: 9vh;
}

.second-page-subtitle-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 35%;
    background-color: rgb(158, 56, 76);
}

.second-page-title p{
    width: 70%;
    color: white;
}

.second-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 60%;
    background-color: rgb(80, 145, 145);
    margin-bottom: 1vh;
    
}

.box-content{
    display: flex;
    flex-shrink: 0;
    width: 20vw;
    height: 25vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
    background-color: rgb(90, 47, 47);
    align-items: center;
    justify-content: center;
    
}

.content-container{
    width: 90%;
    height: 90%;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-icon{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: coral;
    filter: invert(1);
}

.box-content-title{
    display: flex;
    width: 90%;
    height: 20%;
    background-color: blueviolet;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.box-content-p{
    display: flex;
    width: 100%;
    height: 30%;
    background-color: rgb(118, 47, 184);
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}

.box-content:hover{
    background-color: rgb(22, 22, 22);
}

.third-page{
    height: 100vh;
    width: 100vw;
    background-color: darkslateblue;
}

@media screen and (max-width: 500px) {
    .only-small{
        display: flex !important;
        position: fixed;
        color: rgb(138, 138, 138) !important;
        font-size: larger;
    }

    .top-nav-bar{
        width: 100vw;
        /*background-color: blue;*/
        justify-content: right;
        align-items: center;
        height: 8vh;
    }

    .top-bar-button{
        margin-right: 5vw;
        color: rgb(165, 165, 165);
    }

    .HomeDisplay{
        margin-right: 85vw;
    }

    .no-show{
        display: none;
    }

    canvas{
        z-index: 0 !important;
        display: none !important; 
        position: fixed !important;
    }

    .main-title-text-container{
        width: 80%;
        height: 45%;
    }

    .title-text{
        font-family: 'Inter';
        font-size: 3vh;
        line-height: 6vh;
        
    }

    .sub-title-container{
        align-items: center;
        align-items: flex-start;
        height: 30%;
    }

    .sub-title-text{
        margin-top: -5vh;
        font-family: 'Inter';
        font-size: 2.3vh;
        margin-bottom: 5vh;
    }

    .cta-container{
        height: 20%;
    }

    .cta-container p{
        display: none;
    }

    .cta-container a{
        font-family: 'Inter';
        font-weight: normal;
        font-size: 1.5vh;
        margin-left: 8vw;
    }

    .cta-container button{
        font-family: 'Inter';
        font-size: 1.8vh;
        padding: 1vh 3vh;
    }

    

    .second-page-title{
        margin-top: -10vh;
        display: flex;
        height: 12%;
    }

    .second-page-title-container{
        height: 50%;
    }

    .second-page-title h2{
        font-size: 5vh;
    }

    .second-page-subtitle-container{
        height: 50%;
    }

    .second-page-title p{
        font-size: 1.5vh;
        width: 100%;
    }

    .second-row{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
        height: 60%;
        background-color: rgb(80, 145, 145);
        margin-bottom: 1vh;
        
    }

    .box-content{
        flex-shrink: 0;
        width: 100%;
        height: 25%;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 1vh;
        margin-top: 1vh;
        background-color: rgb(209, 154, 154);
        align-items: center;
        justify-content: center;
        
    }

    .no-show img{
        display: none;
    }

    .box-content .no-show{
        display: none !important;
    }

    .content-container{
        width: 90%;
        height: 90%;
        background-color: cornflowerblue;
        display: flex;
        flex-direction: column;
    }
}

canvas{
    display: flex;
    width: 100vw;
    height: 100vh;
    /*background-color: palegreen;*/
    
    margin-left: 48vw;
    position: absolute;
  }